---
apiVersion: v1
kind: ImageStream
metadata:
  name: {{ nuxeo_image_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
spec:
  tags:
{% for environment in pipeline.environments %}
  - name: {{ environment }}
    from:
      kind: ImageStreamTag
      name: nuxeo:{{ global_config.nuxeo_version }}
      namespace: common-infra
    referencePolicy:
      type: Source
{% endfor %}