FROM {{ base_image_name }}:latest
# Set up the /build folder with the install script, the marketplace package and the studio credentials
USER root
{% if not global_config.studio_only == 'True' %}
COPY marketplace.zip /build/marketplace
{% endif %}
RUN chmod -R 777 /build
COPY ./connect.properties /opt/nuxeo/connect/connect.properties
RUN chmod 777 /opt/nuxeo/connect/connect.properties
# Run the image build script
USER 1000
RUN /build/install.sh
# Forcing MongoDB template
RUN sed -i "s/nuxeo.templates=default/nuxeo.templates=default,mongodb/" $NUXEO_HOME/bin/nuxeo.conf
# Clean the server
USER root
RUN rm -f /opt/nuxeo/connect/connect.properties && \
    chgrp -fR 0 /opt/nuxeo/server/ && \
    chmod -fR g+rwX /opt/nuxeo/server/
USER 1000
