---
apiVersion: v1
kind: BuildConfig
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ nuxeo_image_build }}
  namespace: {{ namespace }}
spec:
  source:
    binary:
      asFile: source
    dockerfile: |-
{{ lookup('template', 'nuxeo-image-dockerfile.j2') | indent(6, true) }}
    secrets:
      - secret:
          name: {{ global_config.connect_secret_name }}
    type: Binary
  strategy:
    dockerStrategy:
      env:
        - name: FORCE_STUDIO_PACKAGE_INSTALL
          value: {{ global_config.studio_only }}
      forcePull: true
      from:
        kind: ImageStreamTag
        name: {{ base_image_name }}:latest
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: {{ nuxeo_image_name }}:latest
  successfulBuildsHistoryLimit: 2
  failedBuildsHistoryLimit: 2
