---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ jenkins_maven_config_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: jenkins
data:
  settings.xml: |-
    <?xml version='1.0' encoding='UTF-8'?>
    <settings>
      <localRepository>/opt/maven/repository</localRepository>
      <servers>
        <server>
          <id>nuxeo-studio</id>
          <username>${env.NUXEO_CONNECT_USERNAME}</username>
          <password>${env.NUXEO_CONNECT_PASSWORD}</password>
        </server>
        <server>
          <id>hotfix-releases</id>
          <username>${env.NUXEO_CONNECT_USERNAME}</username>
          <password>${env.NUXEO_CONNECT_PASSWORD}</password>
        </server>
        <server>
          <id>external-releases</id>
          <username>${env.NEXUS_ADMIN_USERNAME}</username>
          <password>${env.NEXUS_ADMIN_PASSWORD}</password>
        </server>
      </servers>
      <profiles>
        <profile>
          <id>release</id>
          <properties>
            <external.releases.url>${env.EXTERNAL_RELEASES_URL}</external.releases.url>
          </properties>
        </profile>
      </profiles>
    </settings>
