---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: jenkins
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: jenkins
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    app: {{ app_name }}
    component: jenkins
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ app_name }}
        component: jenkins
    spec:
      containers:
        - env:
            - name: OPENSHIFT_ENABLE_OAUTH
              value: 'true'
            - name: OPENSHIFT_ENABLE_REDIRECT_PROMPT
              value: 'true'
            - name: KUBERNETES_MASTER
              value: 'https://kubernetes.default:443'
            - name: KUBERNETES_TRUST_CERTIFICATES
              value: 'true'
            - name: JENKINS_SERVICE_NAME
              value: jenkins
            - name: JNLP_SERVICE_NAME
              value: jenkins-jnlp
            - name: INSTALL_PLUGINS
              value: |-
                maven-plugin, pipeline-maven, file-operations,
                apache-httpcomponents-client-4-api, junit-attachments,
                tasks, configuration-as-code
            - name: CASC_JENKINS_CONFIG
              value: /var/lib/jenkins/configuration/jenkins.yaml
          image: nuxeo/nuxeo-dev-apb-jenkin-master:latest
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 30
            httpGet:
              path: /login
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 420
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          name: jenkins
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /login
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            limits:
              memory: 512Mi
          volumeMounts:
            - mountPath: /var/lib/jenkins
              name: jenkins-data
            - mountPath: /var/lib/jenkins/configuration
              name: jenkins-configuration
      serviceAccount: jenkins
      serviceAccountName: jenkins
      volumes:
        - name: jenkins-data
          emptyDir: {}
        - name: jenkins-configuration
          configMap:
            defaultMode: 420
            items:
              - key: settings.xml
                path: settings.xml
              - key: jenkins.yaml
                path: jenkins.yaml
            name: {{ jenkins_config_name }}
  triggers:
    - type: ConfigChange
