<!DOCTYPE html>
<!--

This template can be modified and used to customize the error page. To replace
the error page, set master configuration option oauthConfig.templates.error to
the path of the template file.

oauthConfig:
  templates:
    error: templates/error-template.html

The Error field contains an error message, which is human readable, and subject to change.
Default error messages are intentionally generic to avoid leaking information about authentication errors.

The ErrorCode field contains a programmatic error code, which may be (but is not limited to):
- mapping_claim_error
- mapping_lookup_error
- authentication_error
- grant_error
-->
<!DOCTYPE html>
<!--

This template can be modified and used to customize the login page. To replace
the login page, set master configuration option oauthConfig.templates.login to
the path of the template file. Don't remove parameters in curly braces below.

oauthConfig:
  templates:
    login: templates/login-template.html

-->
<html class="gr__sso_nuxeo_com">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nuxeo Dev environment login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="icon" href="https://sso.nuxeo.com/cas/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/privacy_manager.js"></script>


</head>

<body id="cas" data-gr-c-s-loaded="true">
<header id="header">
  <div class="labelCorp">
    <a href="https://www.nuxeo.com/">nuxeo.com</a>
  </div>
  <div class="row">
    <div class="logo">
      <a href="https://connect.nuxeo.com/nuxeo">
        <img alt="Nuxeo" src="./img/logo_nuxeo_white.png"></a>
    </div>
    <div class="label">
      <p>Development Console</p>
    </div>
  </div>
</header>

<div id="content">




<table class="container">
        <tbody><tr>
          <td class="left">
            <div class="login">
              <div class="fm-v header">
                <h1>Welcome</h1>
              </div>

              <form action="{{ .Action }}" method="POST" class="fm-v clearfix">

  <div class="box" id="login">
        <!-- example of handling a particular error code in a special way -->
    {{ if eq .ErrorCode "mapping_claim_error" }}
      Could not create your user. Contact your administrator to resolve this issue.
    {{ else }}
      {{ .Error }}
    {{ end }}

</div></form>
          </div></td>

          <td class="right">
            <iframe src="https://www.nuxeo.com/login-page-embedded" onload="javascript:this.style.visibility=&#39;visible&#39;;" id="block_container" style="visibility: visible;"></iframe>
          </td>

        </tr>
      </tbody></table>
<div id="footer">
  <div id="copyrights">
    <span>Copyright © 2015-2018 Nuxeo and respective authors. </span>
    <span>| <a href="https://www.nuxeo.com/">Nuxeo.com</a></span>
  </div>
</div>
  </body>
</html>


