---
apiVersion: v1
kind: BuildConfig
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ base_image_build }}
  namespace: {{ namespace }}
spec:
  output:
    to:
      kind: ImageStreamTag
      name: '{{ base_image_name }}:latest'
  source:
    dockerfile: |-
{{ lookup('template', 'base-image-dockerfile.j2') | indent(6, true) }}
    type: Dockerfile
  strategy:
    type: Docker
    dockerStrategy:
      from:
        kind: ImageStreamTag
        name: 'nuxeo:{{ nuxeo_version }}'
        namespace: common-infra
  triggers:
  - type: ConfigChange
  - type: ImageChange
