---
apiVersion: v1
kind: Secret
type: kubernetes.io/basic-auth
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
    credential.sync.jenkins.openshift.io: 'true'
  name: {{ connect_secret_basic_name }}
  namespace: {{ namespace }}
stringData:
  username={{ nuxeo_connect_username }}
  password={{ nuxeo_connect_token }}