---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: "{{ global_config_name }}"
  namespace: {{ namespace }}
data:
  appname: {{ app_name }}
  project_git_repo: "{{ project_git_repo }}"
  project_git_ref: "{{ project_git_ref }}"
  github_ssh_key_name: "{{ github_ssh_key_name }}"
  github_need_ssh: "{{ github_need_ssh}}"
  nuxeo_studio_project: "{{ nuxeo_studio_project }}"
  nuxeo_version: "{{ nuxeo_version }}"
  nuxeo_packages: "{{ nuxeo_packages }}"
  nuxeo_templates: "{{ nuxeo_templates }}"
  backend_repository_type: "{{ backend_repository_type }}"
  backend_stream_type: "{{ backend_stream_type }}"
  backend_pubsub_type: "{{ backend_pubsub_type }}"
  backend_binaries_type: "{{ backend_binaries_type }}"
  backend_pv_storage_class: "{{ backend_pv_storage_class }}"
  binaries_pv_storage_class: "{{ binaries_pv_storage_class }}"
  connect_secret_name: "{{ connect_secret_name }}"
  connect_secret_basic_name: "{{ connect_secret_basic_name}}"
  hotfix_release_secret_name: "{{ hotfix_release_secret_name }}"
  nexus_creds_name: "{{ nexus_creds_name }}"
  deploy_mongo: "{{ deploy_mongo }}"
  mongodb_service_name: "{{ mongodb_service_name }}"
  deploy_elasticsearch: "{{ deploy_elasticsearch }}"
  elasticsearch_service_name: "{{ elasticsearch_service_name }}"
  jenkins_git_release_username: "{{ jenkins_git_release_username }}"
  jenkins_git_release_email: "{{ jenkins_git_release_email }}"
