---
apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceInstance
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: mongodb
  name: "{{ mongodb_service_name }}"
  namespace: {{ namespace }}
spec:
  clusterServiceClassExternalName: nuxeo-nuxeo-mongodb-apb
  clusterServicePlanExternalName: replicaset
  parameters:
    replicas: 1
    persistentVolume_storageClass: "{{ backend_pv_storage_class }}"
    persistentVolume_size: 5Gi
