---
apiVersion: v1
kind: Secret
type: kubernetes.io/ssh-auth
metadata:
  labels:
    app: "{{ app_name }}"
    apb_name: "{{ apb_name }}"
    apb_plan_id: "{{ _apb_plan_id }}"
    apb_service_class_id: "{{ _apb_service_class_id }}"
    apb_service_instance_id: "{{ _apb_service_instance_id }}"
    credential.sync.jenkins.openshift.io: 'true'
    component: {{ component }}
  name: {{ github_ssh_key_name }}
  namespace: {{ namespace }}
{% if "BEGIN OPENSSH PRIVATE KEY" in project_git_ssh %}
stringData:
  ssh-privatekey: |-
{{ project_git_ssh | indent(4, true) }}
{% else %}
data:
  ssh-privatekey: {{ project_git_ssh }}
{% endif %}